*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(10, 14, 51);
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 160px;
    width: 200px;
    border-radius: 100px;
}
img{
   width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
      border: 2.2px solid rgb(10, 14, 51);
    

}

.choices{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
  
}
.choice:hover{
    opacity: .6;
    cursor: pointer;
    
}
.score-board{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    gap:4rem;
    margin-top: 3rem;
}

#your-score,#computer-score{
  font-size: 5rem;
margin-top: 1rem;
}
#msg{
    font-size: 2rem;
    background-color:rgb(10, 14, 51);
    color: #fff;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}
.msg-container{
    margin-top: 5rem;
    


}